body{
  background-color: #AA96DA;
}

#navigation{
  color: white;
  /* overflow: hidden; */
  background-color: #333;
  position: fixed;
  top: 0; 
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

#choose { 
margin-left: 1rem;
font-size: 1.5rem;
}
.label{
  font-size: 1.5rem;
}
#search-input {
  margin-right: 1rem;
 font-size: 1.5rem;
 margin-left: 5rem;
}
.displaying-episodes{
  font-size: 1.5rem;

}
#root {
  margin-top: 8rem;
  color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 2rem;
}
.episode-container{
  display: flex;
  flex-direction: column;
  width: auto;
  border: 0.1rem black solid;
  border-radius: 1rem;
  align-items: center;
  background-color: #C5FAD5;
}
.episode-title{
  
  font-weight: 800;
  margin-bottom: 1rem;
  margin-top: 0;
  padding: 1rem;
  border: 0.1rem black solid;
  border-radius: 1rem;
  background-color: #FFFFD2;
}
.episode-summary{
  text-align: justify;
  margin: 1rem;
}
h3:hover  {
  background-color: red;
}

.back-button{
  font-size: 2rem;
  background-color: #AA96DA;
  height: 3rem;
  border-radius: 5rem;
  background-color: aliceblue;
}
footer{
  margin-top: 5rem;
  text-align: center;
}
